*{
  text-align: center;
  font-family: helvetica;
}

h1{
  font-size: 70px;
  font-weight: bold;
  color: white;
}

h2{
  font-size: 32px;
  font-weight: bold;
}

h3{
  font-size: 23px;
  font-weight: bold;
}

p{
  font-size: 14px;
}

#header1,
#header2{
  background-image: url(the-flatiron-building.png);
  color: white;
}

.bottom{
  background-color: dimgray;
  text-align: left;
}

#copyright{
  font-size: 11px;
  color: white;
}

#bottom-links{
  font-size: 18px;
  color: white;
}
